@import "../../../utils/variables.scss";

.errors-table-paper {
    width: 100%;
    height: 100%;
    padding: 5px;

    .errors-table-container {
        max-height: 90%;
        height: 90%;
    }

    .MuiTableContainer-root {
        @media screen and (max-width: $tablet) {
            height: 85%;
        }
    }

    .MuiTablePagination-root {
        @media screen and (max-width: $tablet) {
            width: 65%;
            height: 15%;
            display: flex;
            align-items: center;
        }

        @media screen and(max-width: $small-mobile) {
            width: 80%;
        }

        .MuiToolbar-root {
            @media screen and (max-width: $tablet) {
                flex-wrap: wrap;
            }

            .MuiTablePagination-actions {
                .MuiIconButton-root {
                    @media screen and (max-width: $tablet) {
                        padding: 0 12px!important;
                    }
                }
            }
        }
    }
}



