@import "./../../../utils/variables.scss";

.nav-menu-subtitles {
    color: $sec-color!important;
    font-family: $sec-font!important;
    font-size: 1.4em!important;
}

.menu-icon {
    color: $icon-color!important;
}