.search-bar-grid-element {
    grid-area: 2 / 1 / 3 / 6;
}

@media screen and (max-width: 900px) {
    .search-bar-grid-element {
        grid-area: 2 / 1 / 3 / 7;
    }
  }

@media screen and (max-width: 700px) {
    .search-bar-grid-element {
        grid-area: 2 / 1 / 4 / 13;
    }
  }