.most-viewed-categories-grid-element {
    grid-area: 3 / 1 / 12 / 6;
}

@media screen and (max-width: 900px) {
    .most-viewed-categories-grid-element {
        grid-area: 3 / 1 / 12 / 7;
    }
  }

  @media screen and (max-width: 700px) {
    .most-viewed-categories-grid-element {
        grid-area: 4 / 1 / 12 / 13;
    }
  }