.total-views-grid-element {
    grid-area: 2/10/6/13;
    max-width: 100%!important;
    height: 100%;

    @media screen and (max-width: 1100px) {
        grid-area: 2/9/6/13;
    }

    @media screen and (max-width: 900px) {
        grid-area: 10/1/13/13;
    }

    .total-views-paper {
        height: 100%;
        max-height: 100%;
    }
}