.total-views-grid-element {
    grid-area: 2/10/6/13;
    max-width: 100%!important;
    height: 100%;
}

.total-views-paper {
    height: 100%;
    max-height: 100%;
}

@media screen and (max-width: 1100px) {
    .total-views-grid-element {
        grid-area: 2/9/6/13;
    }
  }

  @media screen and (max-width: 900px) {
    .total-views-grid-element {
        grid-area: 10/1/13/13;
    }
  }