@import "./../../../utils/variables.scss";

.nav-drawer-custom {
    height: 100%;

    .toolbar-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;
        height: 64px;

        @media screen and (min-width: $big-app-bar) {
            height: 64px;
        }

        @media screen and (max-width: $small-app-bar) {
            height: 56px;
        }

        .toolbar-icon-svg {
            color: $pri-color;
        }
    }
}