@import "../../../utils/variables.scss";

.most-viewed-grid-element {
    grid-area: 6/9/12/13;
    max-width: 100%!important;
    height: 100%;

    @media screen and (max-width: $laptop) {
        grid-area: 6/9/12/13;
    }
    
    @media screen and (max-width: $tablet) {
        grid-area: 13/1/20/13;
    }
    
    .most-viewed-paper {
        height: 100%;
        max-height: 100%;
    }
}
