@import "../../../utils/variables.scss";

.chart-grid-element {
    grid-area: 2/1/12/9;
    max-width: 100%!important;

    @media screen and (max-width: $laptop) {
        grid-area: 2/1/12/9;
    }

    @media screen and (max-width: $tablet) {
        grid-area: 2/1/10/13;
    }

    .graph-container {
        width: 100%;
        height: 100%;
        padding: 15px;
    }
}