// Screen sizes

$laptop: 1100px;
$tablet: 900px;
$mobile: 700px;

// Colors

$pri-color: #0F172C;
$sec-color: #ad6302;
$third-color: #EB983D;
$fourth-color: white;
$text-color: #36281E;


// Typography

$pri-font: 'Libre Baskerville', serif;
$sec-font: 'El Messiri', sans-serif;