// Screen sizes
$laptop: 1100px;
$tablet: 900px;
$mobile: 700px;
$big-app-bar: 600px;
$small-app-bar: 599px;
$small-mobile: 390px;

// Colors
$pri-color: #0F172C;
$sec-color: #ad6302;
$fourth-color: white;
$text-color: #36281E;
$icon-color: #8ABFE9;
$link-color: #f3a44f;
$link-hover-color: #ff8400;
$link-visited-color: #a36200;


// Typography
$pri-font: 'Libre Baskerville', serif;
$sec-font: 'El Messiri', sans-serif;