@import "./../../../utils/variables.scss";

.total-views {
    word-break: break-all;
    font-family: $pri-font!important;

    .total-views-pages {
        font-size: 0.8em!important;
        font-family: $pri-font!important;
    }
}


