@import "./utils/variables.scss";

.App {
  text-align: center;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* TYPOGRAPHY */

/* Sections titles */
h2 {
  color: $text-color!important;
  font-family: $sec-font!important;
  font-size: 1.9em;
}

/* Grid elements titles */
h3 {
  color: $sec-color!important;
  font-family: $sec-font!important;
  font-size: 1.6em!important;
}

/* h4 elements */
h4 {
  color: $text-color!important;
  font-family: $sec-font!important;
  font-size: 1.2em!important;
}

/* Text paragraphs */

p {
  color: $text-color!important;
  font-family: $pri-font!important;
}

/* Span */

p > span {
  color: $text-color!important;
  font-family: $pri-font!important;
}

/* Lists */

ul li {
  color: $text-color!important;
  font-family: $pri-font!important;
}


/* Hyperlinks */
a {
  text-decoration: none;
  font-family: $pri-font!important;
  color: $third-color!important;
  transition: all 0.5s;
  &:hover {
    color: $sec-color!important;
  } 
  &:visited {
    color: $sec-color!important;
  }
}

/* Table custom */
.table-cell-header-custom {
  font-weight: bold!important;
  font-family: $pri-font!important;
  font-size: 0.9em!important;
}

.table-cell-custom {
  font-family: $pri-font!important;
  font-size: 0.9em!important;
}

/* END TYPOGRAPHY */

/* CUSTOMIZED MATERIAL UI CLASSES */

/* Custom paper */

.paper-custom {
padding: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}

/* Custom scrollbar */

div::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

div::-webkit-scrollbar-thumb {
  background: #9e9e9e!important;
  border-radius: 15px!important;
}

div::-webkit-scrollbar-thumb:hover{
  background: #787878!important;
}

div::-webkit-scrollbar-track{
  background: #ffffff!important;
  border-radius: 10px!important;
  box-shadow: inset 7px 10px 12px #f0f0f0!important;
}

/* END CUSTOMIZED MATERIAL UI CLASSES */